mixin css(href)
  link(href=href, rel='stylesheet', type='text/css')

mixin js(src)
  script(src=src, type='text/javascript')

doctype html
html
  head
    title Potato Git
    +css('index.css')
    +css('node_modules/mdi/css/materialdesignicons.css')
  body
    #main
    +js('js/bundle.js')
